---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-config
  namespace: flux-system
spec:
  interval: 10m0s
  dependsOn:
    - name: cert-manager-install
  prune: false
  sourceRef:
    kind: ExternalArtifact
    name: cluster
  path: ./platform/cert-manager/config

